//font-family
@font-face {
    font-family: 'gillsans-light';
    src: url('../../assets/fonts/gill_sans_light-webfont.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/gill_sans_light-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../assets/fonts/gill_sans_light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../assets/fonts/gill_sans_light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../assets/fonts/gill_sans_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../assets/fonts/gill_sans_light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'gillsans-semibold';
    src: url('../../assets/fonts/gillsans-semibold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/gillsans-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/gillsans-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/gillsans-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/gillsans-semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'gillsans-mt-bold';
    src: url('../../assets/fonts/Gill-Sans-MT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}