@import "../../../assets/scss/_fonts.scss";
@import "../../../assets/scss/_mixins.scss";
@import "../../../assets/scss/_variables.scss";


#appHeader {
    @include size(100%, 100px);
    position: relative;
    background:#292D36;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 1170px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        img.logo {
            position: absolute;
            top: 13px;
            left: 0;
        }
        ul.main-menu {
            margin-left: 160px;
            li {
                float:left;
                margin-right: 15px;
                color: white;
                font-family: "gillsans-semibold";
                color: white;
                font-size: 16px;
                text-transform: capitalize;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: white;
                }
                &:hover, &.active {
                    color: $vr-green;
                }
                &.active {
                    border-bottom:2px solid $vr-green;
                }
            }
        }
        .user {
            float: right;
            color: white;
            font-family: helvetica, sans-serif;
            font-size: 14px;
            line-height: 37px;
            text-transform: capitalize;
            width: 285px;
            position: relative;
            .photo {
                @include size(37px, 37px);
                background: url(https://dummyimage.com/37/ddd/000) center center no-repeat;
                border-radius:50%;
                float: left;
                margin-right: 8px;
            }
            .arrow {
                float: right;
                user-select: none; 
            }
            .sub-menu {
                @include size(276px, 231px);
                background: #1d2024;
                position: absolute;
                top: 51px;
                left: -15px;
                padding: 13px;
                font-family: 'gillsans-light';
                border-radius: 0 0 3px 3px;
                ul {
                    width: 100%;
                    li {
                        @include size(100%, 77px);
                        border-bottom: 2px solid $black;
                        line-height: 77px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
                button.logout {
                    @include size(100%, 40px);
                    background: transparent;
                    border:2px solid white;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    color: white;
                    margin-top: 12px;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
        }
    }
}