<header id="appHeader">
  <div class="wrapper">
      <img class="logo" src="assets/img/logo-vr.png" alt="vr logo">
      <ul class="main-menu">
        <li [ngClass]="{active: item == 'empresa'}" *ngFor="let item of menuItems">
          <a routerLink="beneficiario/dashboard">{{ item }}</a>
        </li>
      </ul>
      <div class="user">
        <div class="photo"></div>
        <span>nome do usuário</span>
        <i class="arrow" (click)="showSubMenu()">arrow</i>
        <div class="sub-menu" *ngIf="subMenu">
          <ul>
            <li>Meus ajustes</li>
            <li>Alterar senha de acesso</li>
          </ul>
          <button class="logout">Sair</button>
        </div>
      </div>
    </div>
</header>
